body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}
.top-line-logo {

    font-size: 18px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    color: #4D5AE5;
    text-decoration:none;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform:uppercase ;
    
}
.logo-two {
    color: #2E2F42;
}
/*
.top-line-li {

    list-style-type: none;
}
*/
.top-line-nav {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
    letter-spacing: 0.02em;
}
.top-line-nav:hover,
.top-line-nav:focus {
    color: #404bbf;
}
.top-line-address {
    font-style: normal;
}
.top-line-contacts {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.top-line-contacts:hover,
.top-line-contacts:focus {
    color:#404bbf;
}
.hero-img {
    color:  #2e2f42;
    background-color: #2e2f42;
}
.hero-img-header {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;

}
.hero-img-button {
    font-family: "Roboto", sans-serif;
    color: var(--WHITE, #FFF);
    background-color: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.hero-img-button:hover,
.hero-img-button:focus {
 background-color: #404BBF;
}
.section-one-header {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.section-one-li {
    color: #ffffff;
}
.section-one-text {
    color: var(--SLATE, #434455);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.section-two-header-one {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}
.section-two {
    background-color: #F4F4FD;
}
.section-two-list {
    background-color: #ffffff;
}
.section-two-header {
    color: var(--NAVY-BLUE, #2E2F42);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.section-two-text {
    color: var(--SLATE, #434455);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.section-three {
    background-color: #F4F4FD
}
.section-one-header-two {
        color: var(--NAVY-BLUE, #2E2F42);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
}
.section-three-header {
    color: var(--NAVY-BLUE, #2E2F42);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}
.section-three-text {
    color: var(--SLATE, #434455);
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}
.footer {
    background-color: #2e2f42;
}
.footer-text {
    color: var(--CLOUD, #F4F4FD);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.footer-logo {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-decoration:none;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}
.footer-logo-two {
    color: #F4F4FD;
}